@model JCBlogProject.Models.Genre


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <header>
        <h1>@Model.Name </h1>
        <section id="offWhite"></section>
    </header>
    <main>
        <h1>Posts</h1>
        @foreach (var post in Model.Posts)
        {
            <h2>@post.Title</h2>
            <span>@post.Author</span>
            <p>@post.Content</p>
            <hr />
        }
        <a href="~/Genre/Index/">Return To Genre Select</a>
    </main>
</body>
</html>
